* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background: url('assets/sparks.jpg');
    backdrop-filter: brightness(0.5); */
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


nav {
    padding: 10px;
    background-color: black;
    color: antiquewhite;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

ul {
    color: white;
    display: flex;
    list-style-type: none;
}

ul li a {
    color: antiquewhite;
    text-decoration: none;
    margin-right: 10px;
    
}

footer{
    color: rgb(7, 0, 0);
    position: fixed;
    height: 30px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

nav h2 i {
    font-size: 1.2rem;
    text-align: center;
}

aside {
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    max-width: max-content;
    overflow-y: auto;
}

@media (max-width: 768px) {
    aside {
      max-width: 70%; /* Adjust max-width for smaller screens */
    }
  }

aside h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    position: auto;
}

aside ul {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    list-style-type: none;
    border-radius: 5px;
    width: fit-content;
    height: 100%;
}

aside ul li {
    margin: 3px;
    padding: 3px;
    
}

aside ul li:hover {
    cursor: pointer;
}

aside button {
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    size: 1.5m;
    text-transform: capitalize;
}
